* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 673px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#29abe3, #025c9a);
}